<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Cloudsong</title>

  
  <link rel="stylesheet" href="stylesheets/app.css">
  

  <script src="javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>

  <header class="top-bar-wrap">
      <div class="nav-bar">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <a href="#"><img src="assets/horizontal-logo.svg" alt="logo" class="logo"></a>
            </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
            
          <section class="top-bar-section">

          </section>
        </nav>
      </div>
    </header>  
	

  <div class="page">
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="javascripts/foundation/foundation.js"></script>
	
	<script src="javascripts/foundation/foundation.abide.js"></script>
	
	<script src="javascripts/foundation/foundation.alerts.js"></script>
	
	<script src="javascripts/foundation/foundation.clearing.js"></script>
	
	<script src="javascripts/foundation/foundation.cookie.js"></script>
	
	<script src="javascripts/foundation/foundation.dropdown.js"></script>
	
	<script src="javascripts/foundation/foundation.forms.js"></script>
	
	<script src="javascripts/foundation/foundation.interchange.js"></script>
	
	<script src="javascripts/foundation/foundation.joyride.js"></script>
	
	<script src="javascripts/foundation/foundation.magellan.js"></script>
	
	<script src="javascripts/foundation/foundation.orbit.js"></script>
	
	<script src="javascripts/foundation/foundation.placeholder.js"></script>
	
	<script src="javascripts/foundation/foundation.reveal.js"></script>
	
	<script src="javascripts/foundation/foundation.section.js"></script>
	
	<script src="javascripts/foundation/foundation.tooltips.js"></script>
	
	<script src="javascripts/foundation/foundation.topbar.js"></script>
	
  
  <script>
    $(document).foundation();
  </script>


  <!-- Application core -->
  <script src="javascripts/app-ck.js"></script>

  <!-- backbone begins -->

  <script type="text/template" id="landing-template">
    <div class="row">
      <div class="large-8 columns">
        <h1>Listen to the songs of the Internet</h1>
        <h2>Find new tunes, keep track of your favorite artists, and help spread the love for great music.</h2>

        <a href="#/signup" class="large button join-button">Join Cloudsong</a>
        <a href="#/login" class="large button">Login</a>      
      </div>
    </div>
  </script>

  <script type="text/template" id="about-template">
    <div class="row">
      <div class="large-8 columns">
        <h1>About Cloudsong</h1>
        <p> For this project, I'm building a site inspired heavily by <a href="https://www.soundcloud.com">Soundcloud</a>.
        </p>
        <p> It's by far my favorite web application, and the constraint of having music play as you navigate the site brings up some interesting technological challenges. The primary obstacle is being unable to utilize page redirects at all. This means that every interaction on the site must be asynchronous.
        </p>

        <p>In order to accomplish this, I'm using a few tools and techniques that go beyond the scope of the class but are quite standard in modern web development. This page will give you an overview of the tools I'm using and how the different parts of the application function come together.
        </p>
        <h2>Frameworks</h2>
        <h4>Front end </h4>
        <h5> <a href="http://foundation.zurb.com/">Zurb-foundation</a></h5>
        <p>This is an incredible UI/Front end framework. Foundation allows you to make your websites beautiful without having to write a lot of the more common code yourself. The biggest perks are the grid system (which allows you to build your website for desktop and mobile simultaneously. It's built on <a href="http://sass-lang.com/">SASS</a>, which helps you keep your CSS concise and effective.</p>

        <h4>Backbone</h4>
        <h5><a href="http://backbonejs.org/">Backbone.js</a></h5>
        <p>This framework is what's doing the heavy lifting in this application. It's built for Javascript, so the majority of the actual functionality of the site will be written on top of this framework. It is what allows me to change the content of the pages without having to redirect to any other pages.
        </p>
        <p>
        Instead, it simply grabs information from the server/database asynchronously (using AJAX) and then repopulates the views on the front end according to what is returned. It has a templating engine (think how you replace parts of your html page with php), a routing engine (which is how it knows that /explore should render the template to list all the artists), and model functionality (which allows you to really easily and intuitively interact with the backend without having to write SQL in javascript. More on that later.)</p>
        <h4> Back End </h4>
        <h5> <a href="http://www.slimframework.com/">Slim</a></h5>
        <p> Slim is a tiny PHP framework that takes care of some really common necessities in modern web development. It provides a number of functionalities that they describe well on the site, but the reason I'm using it is for it's API functionality.

        <h4> APIs </h4>
        <p>
          APIs (Or application programming interfaces) are the way modern web services provide data from servers to the any source who might need it. For Backbone to be able to interact with the database, it needs some way of talking to it through a secure, consistant channel. It does so by responding to requests at given <b>endpoints</b>.
          </p> 
          <p>
          For example, sending a GET request to the <a href="api/index.php/artists"> /artists </a> endpoint will return the data needed to populate a list of artists. Most APIs communicate with their clients via JSON (<b>J</b>ava<b>s</b>cript <b>O</b>bject <b>N</b>otation), because nearly every programming language can easily parse JSON, it's human readable, and Javascript itself is often the language that's consuming these APIs, which is the case for CloudSong as well The Backbone AJAX calls I mentioned earlier hit these endpoints in order to get information on artists, songs, tags, and all the other data that makes the app tick.
          </p>
        </p>
      </div>
    </div>
  </script>

  <script type="text/template" id="artist-list-template">
    <div class="row">
      <% _.each(artists, function(artist) { %>

      <div class="artist columns large-6">
        <h4 class="name">
          <%= artist.get('name') %>
        </h4>
        <span class="location">
          <%= artist.get('location') %>
        </span>
      </div>
      <% }); %>
    </div>
  </script>

  <script type="text/template" id="login-form-template">
    <form action="/sessions/new" class="login-form large-12 columns">
      <fieldset>
        <div class="row">
          <div class="large-8 columns">
            <input type="email" name="contact" placeholder="Email"/>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <input type="password" name="password" placeholder="Password"/>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="medium"> Log in </button>
          </div>
        </div>
      </fieldset>
    </form>
  </script>

  <script type="text/template" id="signup-form-template">
    <form action="/artist/new" class="signup-form large-12 columns">
      <fieldset>
          <div class="row">
            <div class="large-6 columns">
              <input type="text" name="name" placeholder="Name"/>
            </div>
            <div class="large-6 columns">
              <input type="text" name="location" placeholder="Location"/>          
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <input type="text" name="tagline" placeholder="Tagline"/>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <input type="email" name="contact" placeholder="Email"/>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns centered">
            <button type="submit" class="medium"> Sign Up</button>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns centered">
            <h4> Already have an account? <a href="#/login">Log in here </a> </h4>
          </div>
        </div>
      </fieldset>
    </form>
  </script>

  <script>

    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };

    $.ajaxPrefilter( function( options, originalOptions, jqHXR) {
      options.url = "api/index.php" + options.url;
    });

    var Artists = Backbone.Collection.extend({
      url: '/artists'
    });

    var Artist = Backbone.Model.extend({
      urlRoot: '/artists'
    });

    var ArtistList = Backbone.View.extend({
      el:'.page',
      render: function() {
        var that = this;
        var artists = new Artists();
        artists.fetch( 
        {
          success: function(artists) {
            var template = _.template($('#artist-list-template').html(), {artists: artists.models });

            that.$el.html(template);
          }
        })
      }
    });

    var Landing = Backbone.View.extend({
      el:'.page',
      render: function() {    
        var template = _.template($('#landing-template').html(), {});
        this.$el.html(template);
      }
    });


    var About = Backbone.View.extend({
      el:'.page',
      render: function() {    
        var template = _.template($('#about-template').html(), {});
        this.$el.html(template);
      }
    });

    var SignupForm = Backbone.View.extend( {
      el:'.page',
      render: function() {
        var template = App.Templates['artists/signup-form'];
        this.$el.html(template);
      },
      events: {
        'submit .signup-form': 'saveArtist'
      },

      saveArtist: function(ev) {
        var artistDetails = $(ev.currentTarget).serializeObject();
        var artist = new Artist();
        artist.save(artistDetails, {
          success: function(artist) {
            router.navigate('', {trigger: true});
          }
        })
        return false;
      }
    })

    var LoginForm = Backbone.View.extend( {
      el:'.page',
      render: function() {
        var template = App.Templates['sessions/login'](App.currentUser);
        this.$el.html(template);
      },
      events: {
        'submit .login-form': 'signInArtist'
      },

      signInArtist: function(ev) {
        var loginDetails = $(ev.currentTarget).serializeObject();
        $.ajax({
          url:'/login',
          type:'POST',
          dataType:'json',
          data: loginDetails,
          success:function(data) {
            console.log(data);
            App.currentArtist.set(data);
            nav.render();
            router.navigate('', {trigger: true});
          }
        });
        return false;
      }
    })
    
    var Nav = Backbone.View.extend({
      el: $('.top-bar-section'),

      initialize: function() {
        this.listenTo(App.currentArtist, "change", this.render);
      },
      events: {
        'click .logout' : 'logout'
      },
      render : function() {
        var template = App.Templates['application/nav'];
        this.$el.html(template);
      },

      logout: function() {
        console.log("try8in");
        $.ajax({
          url:'/logout',
          type:'GET',
          success:function() {
            App.currentArtist.clear()
            router.navigate('', {trigger: true});
          }
        });
      }
    })

    var Router = Backbone.Router.extend({
      routes:{
        '': 'home',
        'signup': 'newArtist',
        'explore': 'listArtists',
        'about': 'about',
        'login': 'login'
      }
    });
    
    var loginForm = new LoginForm();
    var artistList = new ArtistList();
    var signupForm = new SignupForm();
    var landing = new Landing();
    var about = new About();
    var nav = new Nav();

    var router = new Router();

    router.on('route:home', function() {
      landing.render();
    });
    router.on('route:listArtists', function() {
      artistList.render();
    });
    router.on('route:newArtist', function() {
      signupForm.render();
    });
    router.on('route:about', function() {
      about.render();
    });
    router.on('route:login', function() {
      loginForm.render();
    });

    isSignedIn();
    nav.render();

    Backbone.history.start();
    
  </script>


</body>
</html>
